@import './base/constants.scss';

.actions-bar-wrapper{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width:  $mobile-breakpoint) {
    .actions-bar-wrapper{
        padding: 10px;
    }
}