@import "./base/colors.scss";
@import './base/constants.scss';

.add-task-modal-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $modal-background;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    color: $ditry-white;
    align-items: center;
    justify-content: center;
    .close {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .form-wrapper {
        margin-top: 20px;
        .form-decoration{
            &.disabled{
                opacity: 0.5;
                pointer-events: none;
                animation: fade-in forwards 0.2s;
            }
        }
        .add-button {
            margin-top: 30px;
            border: 1px solid;
            border-radius: 20px;
            height: 40px;
            cursor: pointer;
            &.disabled{
                pointer-events: none;
            }
        }
        .add-button:hover{
            opacity: 0.8;
        }
    }
}

// @media only screen and (max-width: $mobile-breakpoint) {
//     .add-task-modal-wrapper {
//         height: inherit;
//     }
// }