@import "./base/colors.scss";

.login-wrapper {
    background: url("../assets/welcome.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    .logo-wrapper {
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 500;
    }
    .signin-wrapper {
        position: fixed;
        right: 50px;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 30px 55px 55px;
        border-top: 5px solid $gray;
        width: 250px;
        .login-title {
            color: $main-black;
            font-size: 36px;
            margin-bottom: 25px;
        }
        .login-btn {
            height: 40px;
            background-color: $main-black;
            color: $white;
            font-size: 14px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            &.disabled {
                animation: fade-in forwards 0.2s;
                pointer-events: none;
            }
        }
        .login-btn:hover {
            opacity: 0.9;
        }
    }
    input {
        width: 100%;
        border: none;
        border-bottom: 2px solid $light-gray;
        color: $main-black;
        margin-bottom: 35px;
        font-size: 24px;
    }
    label {
        color: $gray;
        margin-bottom: 5px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 770px) {
    .logo-wrapper {
        justify-content: center;
    }
    .signin-wrapper {
        left: 50%;
        transform: translateX(-50%);
    }
}
