@import './base/colors.scss';
@import './base/constants.scss';

.login-wrapper {
    .login-image {
        background: url("../assets/welcome.jpg") no-repeat center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        opacity: 0.8;
    }
    .logo-wrapper {
        position: fixed;
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 500;
        top: 0;
    }
    .signin-wrapper {
        position: fixed;
        right: 50px;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 30px 40px 10px;
        border-top: 5px solid $gray;
        width: 250px;
        .login-title {
            color: $main-black;
            font-size: 36px;
            margin-bottom: 25px;
        }
        .login-error-wrapper {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin: 15px 0px;
            .error-text {
                margin-left: 12px;
            }
        }
        .form-decoration {
            &.disabled {
                opacity: 0.5;
                pointer-events: none;
                animation: fade-in forwards 0.2s;
            }
        }
        .login-btn {
            height: 40px;
            background-color: $main-black;
            color: $white;
            font-size: 14px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            &.disabled {
                animation: fade-in forwards 0.2s;
                pointer-events: none;
            }
        }
        .login-btn:hover {
            opacity: 0.9;
        }
    }
    input {
        width: 100%;
        border: none;
        border-bottom: 2px solid $light-gray;
        color: $main-black;
        margin-bottom: 35px;
        font-size: 24px;
    }
    label {
        color: $gray;
        margin-bottom: 5px;
        font-size: 16px;
    }
}

@media only screen and (max-width:  $mobile-breakpoint) {
    .logo-wrapper {
        left: 50%;
        transform: translateX(-50%);
    }
    .signin-wrapper {
        left: 50%;
        transform: translateX(-50%);
    }
}
