@import '../styles/base/constants.scss';

.user-box-wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    width: 200px;
    .name {
        font-weight: bold;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .user-box-wrapper {
        width: 100%;
    }
}
